body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.jumbotron{
  color:rgb(36, 255, 36);
  background-color: black !important;
  font-family: Segoe Script
}

.nav-link{
  color: rgb(36, 255, 36) !important;
}
#sticky-footer{
  background-color: black !important;
}
a{
  color: rgb(36, 255, 36) !important;
}
Carousel{
  height: 500px !important;
}
.listy{
  background-color: black !important;
}
.green_button{
  color: rgb(36, 255, 36) !important;
  
}