body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282828 !important;
}

code {
  font-family: 'Righteous', cursive!important;
}
.jumbotron{
  color:#0F9D58;
  background-color: #282828 !important;
  font-family: 'Righteous', cursive ;
  font-size: xxxxx-large !important;
}


.nav{
  font-weight: 500 !important;
  font-size: xxx-large !important;
}
#sticky-footer{
  background-color: #282828 !important;
}
a{
  color: rgb(36, 255, 36) !important;
}
Carousel{
  height: 500px !important;
}
.listy{
  background-color: #282828!important;
  color: #F4B400!important;
  border: none !important;
}
.green_button{
  color: rgb(36, 255, 36) !important;
  
}
.sun{
  color: #F4B400 !important;
}
svg{
  color:#F4B400!important ;
}
.lead{
  color: #F4B400;
  font-size: 50px !important;
}
.nav a{
  color: #de5246 !important;
  font-weight: 1000 !important;
  font-size: xxx-large !important;
}
.card{
  background-color:#282828!important ;
  font-family: 'Righteous', cursive
}
.text1{
  color: #F4B400 !important;
}

.linkcard{
  color: #de5246 !important;
}
.aboutme{
  color: #F4B400 !important; 
  font-size: xx-large !important;
}
.display-4{
  font-weight: 1000 !important;
  font-size: 100px !important;
}
.lead{
  font-weight: 1000 !important;
  font-size: 60px !important;
}
ul.list-group{
  font-size: xx-large !important;
}
.text1{
  font-size: xx-large;
}